@import "sidebar-toggler.scss";
@import "sidebar-hero.scss";
@import "sidebar-nav.scss";

@keyframes dash-logo-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.sidebar {
    background: $gray;
    position: relative;
    transition: width 0.2s linear;
    width: $sidebar-width;

    &__link {
        text-decoration: none;
        color: rgba($purple, 0.3);
        font-family: 'Leckerli One', cursive;
        font-size: 2.25rem;
        text-align: center;
        font-weight: lighter;
        position: relative;
        display: block;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(45deg, 
                $gray 12.5%, 
                transparent 12.5%, transparent 37.5%,                
                $gray 37.5%, $gray 62.5%,
                transparent 62.5%, transparent 87.5%,
                $gray 87.5%);
            background-size: 10px 10px;
            animation: dash-logo-animation 5s infinite linear;
        }

        &::after {
            content: attr(data-text);
            color: $purple;
            position: absolute;
            left: -4px;
            top: -2px;
            text-shadow: -2px -2px $gray;
        }
    }

    &__tittle {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--collapsed {
        width: $sidebar-width-collapsed;

        .sidebar {

            &__toggler {
                display: flex;
                width: 100%;
                position: unset;
            }

            &__toggler-icon {
                transform: rotateY(180deg);
            }

            &__tittle {
                display: none;
            }
        }

        .hero {
            &__name {
                font-size: 10px;
            }

            &__status {
                font-size: 10px;
            }

            &__photo-wrapper {
                width: 48px;
                height: 48px;
            }
        }

        .nav-section {

            &:not(:last-child) {
                &::after {
                    content: '';
                    width: 80%;
                    display: block;
                    height: 3px;
                    margin: 0 auto;
                    background: $dark-lighter;
                }
            }

            &__title {
                display: none;
            }
        }

        .list-item {
            overflow: hidden;
            width: $sidebar-width-collapsed;
            background: $gray;
            transition: width 0.2s linear;
            padding: 10px 4px 10px 16px;

            &:hover {
                width: $sidebar-width;
                box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.15);
                z-index: 2;
            }

            &__notification {
                font-size: 8px;
                padding: 2px 4px;
            }
        }
    }
}