@keyframes alert-pulse {
    20% {
        box-shadow: 0 0 0 0 rgba($orange, 0.7);
    }

    80% {
        box-shadow: 0 0 0 12px rgba($orange, 0);
    }
}

@keyframes alert-shake {
    5%, 15%, 25%, 35%, 45% {
        transform: translateX(-2px);
    }

    10%, 20%, 30%, 40% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(0);
    }
}

.navigation {
    font-family: 'Roboto', sans-serif;
    color: $dark-lightest;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.nav-section {
    margin: 10px 0;

    &__title {
        font-size: 12px;
        padding: 10px 20px;
        margin: 0;
    }
}

.list-item {
    padding: 10px 16px;
    font-size: 14px;
    color: $dark-lighter;
    transition: color 0.2s linear;
    position: relative;
    
    &:hover {
        color: $purple;
    }

    &--orange {
        .list-item__wrapper {
            position: relative;

            &::after {
                content: 'arrow_forward';
                font-family: 'Material Icons';
                font-size: 24px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.2s, transform 0.2s;
                transform: translateX(100%);
            }
        }
        .list-item__icon {

            transition: opacity 0.2s, transform 0.2s;
        }
        
        &:hover, &:focus {
            color: $orange;

            .list-item__wrapper {
                &::after {
                    opacity: 1;
                    transform: translateX(0%);
                }
            }

            .list-item__icon {
                transform: translateX(-100%);
                opacity: 0;
            }
        }
    }

    &--alert {
        color: $orange;
    }

    &--purple {

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: $purple;
            position: absolute;
            top: 0;
            left: 100%;
            opacity: 0;

        }

        &:hover, &:focus {
            &::before {
                transition: left 0.1s, width 0.15s .1s, opacity 2s;
                left: 0;
                width: 2%;
                opacity: 1;
            }
        }
    }

    &__link {
        display: flex;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        color: inherit;
    }

    &__icon {
        margin-right: 16px;

        &--alert {
            animation: alert-pulse 2s infinite, alert-shake 2s infinite;
            border-radius: 50%;
        }
    }

    &__text {
        display: flex;
        align-items: center;
    }

    &__notification {
        font-size: 10px;
        border-radius: 12px;
        color: white;
        font-weight: normal;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        &--purple {
            @include background-gradient($purple);
        }

        &--orange {
            @include background-gradient($orange);
        }
    }
}