$chart-border-size: 6px;

@keyframes fill {
    // 1000000 is just a really big number to make sure there will be no "dash" inside the stroke
    to { stroke-dasharray: 0,1000000; }
}

.progress-chart {
    display: flex;
    justify-content: center;
    margin: 16px auto;
    position: relative;
    counter-reset: percentCounter;
    

    &::before {
        counter-increment: percentCounter var(--percent);
        content: counter(percentCounter) '%';
        position: absolute;
        top: calc(50% - 12px);
        left: 50%;
        font-size: 32px;
        transform: translate(-50%, -50%);
    }

    &::after {
        content: attr(data-description);
        position: absolute;
        top: calc(50% + 8px);
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        text-align: center;
    }
    
    &--orange {
        .front {
            stroke: $orange;
        }

        &::before {
            color: $orange;
        }
    }

    &--purple {
        .front {
            stroke: $purple;
        }

        &::before {
            color: $purple;
        }
    }
}

.chart-container {
    .back {
        stroke: #f5f5f5;
        stroke-width: $chart-border-size;
    }
    
    .front {
        stroke-width: $chart-border-size;
        stroke-linecap: round;
        stroke-dasharray: calc((2 * #{$PI} * 90) * var(--percent) / 100) calc((2 * #{$PI} * 90));
        transform: rotate(-90deg);
        transform-origin: center;
        animation: fill 1s reverse;
    }
}