.table {
    width: 100%;
    border-collapse: collapse;

    &__row {
        border-bottom: 1px solid $gray;
        height: 56px;

        &:nth-of-type(even) {
            background: $gray;
        }
    }

    &__td {
        padding: 0 4px;
        font-size: 14px;
        position: relative;
    }

    &__th {
        padding: 0 4px;
        text-align: left;
        color: $dark-lighter;
        font-weight: 700;
        font-size: 15px;

        &:nth-of-type(1) {
            width: 84px;
        }

        &--sortable
        {
            cursor: pointer;

            &::after {
                opacity: 0;
                content: 'arrow_drop_up';
                font-family: 'Material Icons';
                display: inline-block;
                vertical-align: bottom;
                transition: transform 0.2s linear;
            }

            &:hover {
                &::after {
                    opacity:1;
                }
            }

            &[class*="th-sort-asc"]{
                color: $purple;
                background: $gray;
                &:after {
                    opacity: 1;
                }
            }

            &[class*="th-sort-desc"]{
                color: $purple;
                background: $gray;
                &:after {
                    opacity: 1;
                    transform: rotate(180deg);
                }
            }
        }
    }
}