.table {
    width: 100%;
    border-collapse: collapse;

    &__header {
        display: none;

        @media (min-width: $desktop-width) {
            display: table-header-group;
        }
    }

    &__row {
        border-bottom: 1px solid $gray;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:nth-of-type(even) {
            background: $gray;
        }

        @media (min-width: $desktop-width) {
            display: table-row;
            height: 56px;
        }
    }

    &__td {
        height: 32px;
        font-size: 14px;
        position: relative;
        padding-left: 50%;
        display: flex;
        align-items: center;

        &::before {
            content: attr(data-title);
            font-size: 14px;
            top: 9px;
            left: 8px;
            position: absolute;

            @media (min-width: $desktop-width) {
                display: none;
            }
        }

        @media (min-width: $desktop-width) {
            padding: 0 4px;
            display: table-cell;
        }
    }

    &__th {
        padding: 0 4px;
        text-align: left;
        color: $dark-lighter;
        font-weight: 700;
        font-size: 15px;

        &:nth-of-type(1) {
            width: 84px;
        }

        &--sortable
        {
            cursor: pointer;

            &::after {
                opacity: 0;
                content: 'arrow_drop_up';
                font-family: 'Material Icons';
                display: inline-block;
                vertical-align: bottom;
                transition: transform 0.2s linear;
            }

            &:hover {
                &::after {
                    opacity:1;
                }
            }

            &[class*="th-sort-asc"]{
                color: $purple;
                background: $gray;
                &:after {
                    opacity: 1;
                }
            }

            &[class*="th-sort-desc"]{
                color: $purple;
                background: $gray;
                &:after {
                    opacity: 1;
                    transform: rotate(180deg);
                }
            }
        }
    }
}