
.language-section {
  width: 225px;
  height: 100%;
  position: relative;
}

.language-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.languages-default {
  list-style: none;
  margin: 0;
  position: relative;
  background:chartreuse;

  &:after {
    display: block;
    content: 'expand_more';
    position: absolute;
    font-family: 'Material Icons';
    font-size: 30px;
    color: $dark-lighter;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    background: red;
  }
}

.languages {
  list-style: none;
  margin: 0;
}

.language {
  height: 48px;
  padding: 10px 20px;

    &__icon {

    }
}