.languages {
  height: 100%;
  position: relative;
  width: 200px; // TO DO REMOVE

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--default {
      height: 100%;
      display: flex;
      align-items: center;

      &:after {
        display: block;
        content: 'expand_more';
        position: absolute;
        font-family: 'Material Icons';
        font-size: 30px;
        color: $dark-lighter;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
      }
    }

    &--selection {
      position: absolute;
      left: 0;
      top: 100%;
      background: rgba(white, 0.9);
      box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
    }
  }
}

.language {
  padding: 0;
  margin: 0;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;

    &__icon {
      display: block;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
      margin-right: 10px;

      &--poland {
        background: linear-gradient(0deg, $flag-red 50%, white 50%);
      }

      &--italy {
        background: linear-gradient(90deg, 
          $flag-green 33%, 
          white 33%, white 66%, 
          $flag-red 66%);
      }

      &--greece {
        position: relative;
        background: linear-gradient(0deg,
          $flag-blue 11%,
          white 11%, white 22%,
          $flag-blue 22%, $flag-blue 33%,
          white 33%, white 44%,
          $flag-blue 44%, $flag-blue 55%,
          white 55%, white 66%,
          $flag-blue 66%, $flag-blue 77%,
          white 77%, white 88%,
          $flag-blue 88%);
          overflow: hidden;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 50%;
            background: linear-gradient(to bottom, 
              transparent 40%,
              white 40%, white 60%,
              transparent 60%),
              linear-gradient(to right, 
              $flag-blue 40%,
              white 40%, white 60%,
              $flag-blue 60%);
          }     
      }

      &--czech {
        background: linear-gradient(0deg, $flag-red 50%, white 50%);
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 50%;
          height: 100%;
          background: $flag-blue;
          clip-path: polygon(0 0, 0 100%, 100% 50%);
        }
      }

      &--seychelles {
        background: linear-gradient(115deg, $flag-blue 28%, transparent 30%),
        linear-gradient(130deg, $flag-yellow 43%, transparent 45%),
        linear-gradient(145deg, $flag-red 58%, transparent 60%),
        linear-gradient(160deg, white 73%, transparent 75%),
        linear-gradient(172deg, $flag-green 0, $flag-green 90%);
      }

      &--grenadines {
        background: linear-gradient(90deg,
        $flag-blue 25%, $flag-yellow 25%, $flag-yellow 75%, $flag-green 75%);
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, 50%) scaleY(1.75) rotate(45deg);
          background: $flag-green;
          box-shadow: -6px 0 0 $flag-green, 0 -6px 0 $flag-green;
        }
      }

      &--maldives {
        background: 
        linear-gradient(0deg, $flag-red 16%, transparent 16%, transparent 84%, $flag-red 84%),
        linear-gradient(90deg, $flag-red 16%, transparent 16%, transparent 84%, $flag-red 84%),
        radial-gradient(circle at calc(50% + 6px), $flag-green, 6px, transparent 6px),
        radial-gradient(circle at calc(50% + 2px), white, 6px, transparent 6px),
        linear-gradient(0deg, $flag-green 0, $flag-green 100%);
      }

      &--usa {
        position: relative;
        overflow: hidden;
        background: linear-gradient(0deg,
          $flag-red 11%,
          white 11%, white 22%,
          $flag-red 22%, $flag-red 33%,
          white 33%, white 44%,
          $flag-red 44%, $flag-red 55%,
          white 55%, white 66%,
          $flag-red 66%, $flag-red 77%,
          white 77%, white 88%,
          $flag-red 88%);

          &::before {
            content: '';
            width: 70%;
            height: 60%;
            background: $flag-blue;
            left: 0;
            top: 0;
            position: absolute;
          }

          &::after {
            content: '\2605';
            font-style: normal;
            position: absolute;
            color: white;
            font-size: 4px;
            left: 2px;
            top: 2px;
            text-shadow: 3px 0 0 white, 9px 0 0 white, 15px 0 0 white,
              0 3px 0 white, 6px 3px 0 white, 12px 3px 0 white,
              -3px 6px 0, 3px 6px 0 white, 9px 6px 0 white, 15px 6px 0 white,
              0 9px 0 white, 6px 9px 0 white, 12px 9px 0 white,;
          }
      }
    }

    &__name {
      font-size: 18px;
      color: $dark-lighter;
      white-space: nowrap;
    }
}