@import "search-input.scss";
@import "navbar-search.scss";
@import "language-selector.scss";
@import "navbar-signout.scss";

.navbar {
    grid-area: navbar;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
    }

    &__section {
        margin-left: 16px;
    }
}