$candidates-number: 6;
$visible-candidate: 4;
$visible-candidate-mobile: 1;
$visible-candidate-tablet: 3;

@keyframes sliding {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% / #{$candidates-number} * (#{$candidates-number} - #{$visible-candidate})));
    }
}

.candidates.dashboard-section {
    background: transparent;
    box-shadow: none;
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to right, $gray, transparent 50%);
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to left, $gray, transparent 50%);
    }
}

.candidates__container {
    display: flex;
    width: calc(100% * #{$candidates-number} / #{$visible-candidate-mobile});
    animation: sliding 16s infinite alternate-reverse linear;

    @media (min-width: $tablet-width) {
        width: calc(100% * #{$candidates-number} / #{$visible-candidate-tablet});
    }

    @media (min-width: $wide-width) {
        width: calc(100% * #{$candidates-number} / #{$visible-candidate});
    }
}

.candidate {
    width: calc(100% / #{$candidates-number} - 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

    &__image {
        border-radius: 50%;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
        width: 128px;
        height: 128px;
        margin: 16px 0 24px 0;
    }

    &__name {
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 8px 0;
    }

    &__position {
        font-size: 20px;
        font-weight: normal;
        margin: 0 0 16px 0;
    }

    &__icons-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        width: calc(100% / 3);
        background: transparent;
        border: none;
        color: $dark-lighter;
        cursor: pointer;
        
        &:hover {
            color: $purple;
        }

        &--checked {
            color: $orange;
        }

        &.candidate__button-star:hover {
            color: $orange;
        }
    }

    &__icon {
        padding: 16px 0;
    }
}