.client {
    &__button {
        border: none;
        background: transparent;
        color: $dark-lighter;
        font-size: 20px;
        padding: 8px;
        cursor: pointer;
        transition: color 0.2s linear;

        &:hover {
            color: $purple;
        }
    }

    &__onboarding {
        display: block;
        border-radius: 16px;
        max-width: 96px;
        padding: 8px 0;
        text-align: center;
        color: white;
        font-size: 14px;

        &--pending {
            @include background-gradient($orange);
        }

        &--completed {
            @include background-gradient($purple);
        }
    }

    &__dropdown {
        cursor: pointer;
        padding: 8px;
        background: transparent;
        border: none;
        width: 100%;
        position: relative;
        outline: none;

        &:hover {
            &::before {
                background: $purple;
                box-shadow: 8px 0 0 0 $purple, -8px 0 0 0 $purple;
            }
        }

        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            background: $dark-lighter;
            border-radius: 50%;
            box-shadow: -8px 0 0 0 $dark-lighter, 8px 0 0 0 $dark-lighter;
            transition: background 0.2s linear, box-shadow 0.2s linear;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .client &--collapsed {
            &::before {
                background: $purple;
                box-shadow: 0 -8px 0 0 $purple,
                    0 8px 0 0 $purple,
                    -8px 4px 0 0 $purple,
                    8px 4px 0 0 $purple,
                    -4px 6px 0 0 $purple,
                    4px 6px 0 0 $purple;               
            }
        }
    }
}