.budget-container {

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__description {
        text-align: center;
        font-size: 15px;
    }

    &__link {
        text-decoration: none;
        color: $dark-lighter;
        font-weight: bold;
        transition: color 2s linear;

        &:hover {
            color: $purple;
        }
    }
}

.budget {

    &__selection {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        font-size: 14px;
        width: 25%;
        max-width: 48px;
        padding: 16px 0;
        text-align: center;
        cursor: pointer;

        &:focus, &:hover {
            color: $purple;
        }

        &--main {
            @include background-gradient($purple);
            box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            color: white;
            width: auto;
            max-width: none;
            padding: 16px;
        }
    }
}

.date-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__button {
        font-size: 24px;
        cursor: pointer;
        border-radius: 50%;
        @include background-gradient($orange);
        color: white;
        padding: 12px;
        margin-right: 16px;
    }

    &__range {
        font-size: 14px;
    }
}

.calendar {
    position: absolute;
    left: 0;
    top: 48px;
}