$purple: #9c27b0;
$orange: #ffa726;
$gray: #fafafa;
$green: #8BC34A;
$light: white;
$dark: rgba(#000, .87);
$dark-lighter: rgba(#000, .54);
$dark-lightest: rgba(#000, .38);

@mixin background-gradient($color) {
    background: linear-gradient(45deg, $color 0, lighten($color, 17%) 50%, $color 100%);
}

$sidebar-width: 192px;
$sidebar-width-collapsed: 56px;