$purple: #9c27b0;
$orange: #ffa726;
$gray: #fafafa;
$green: #8BC34A;
$light: white;
$dark: rgba(#000, .87);
$dark-lighter: rgba(#000, .54);
$dark-lightest: rgba(#000, .38);

$flag-red: #ce1126;
$flag-green: #009639;
$flag-blue: #005eb8; 
$flag-yellow: #fed141;

@mixin background-gradient($color) {
    background: linear-gradient(45deg, $color 0, lighten($color, 17%) 50%, $color 100%);
}

$sidebar-width: 192px;
$sidebar-width-collapsed: 56px;

$PI: 3.14159265358979;

$tablet-width: 768px;
$desktop-width: 960px;
$wide-width: 1200px;