@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:wght@400;700&display=swap&family=Material+Icons');

@import "_variables";
@import "modules/sidebar/sidebar.scss";
@import "modules/navbar/navbar.scss";
@import "modules/content.scss";

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html {
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: min-content auto;
  min-height: 100vh;
  transition: transform 0.2s linear;
}
